.container-doc{
    border-radius: 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: min(1em, 15%);
    width: 100%;
    height: 100%;
}

/* Barra de pesquisa */
.container-src{
    display: flex;
}


/* .search::before {
    content: url("../icons/search.svg");
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aqua;
} */

/* Botões */
.addDocument{
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 50%;
    transform: translate(-50%,0);
    width: 200px;
}

/* containeres */
.documento{
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    padding: min(3em, 2%);
    width: 100%;
    margin: 0 auto 20px auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    gap: 1rem;
}
.documento p{
    padding: 0 0 0 0;
}

.documento .doc-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}
.documento .doc-icon img{
    max-width: 4rem;
    height: auto;
}

.documento button{
    height: 3rem;
    background-color: transparent;
    border: none;
    margin-left: auto;
}