/* Barra de pesquisa */

.search {
    flex-grow: 1;
    height: 30px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
}

.search + button{
    flex-grow: 0.1;
    position: relative;
    background-color:blue;
    border-radius: 0 20px 20px 0;
    border: none;
    right:0px;
    width: 25px;
    height: 30px;
}

/* Botões */
.addDocument{
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 50%;
    transform: translate(-50%,0);
    width: 200px;
}